/* ========== CONFIGURAÇÕES GLOBAIS ============= */

*{
    margin: 0;
    padding: 0;
    
}


a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}


body{
    background: linear-gradient(rgb(43, 44, 45) 0%, rgb(52, 54, 57) 100%) 0% 0% / 100% 500px no-repeat rgb(52, 54, 57);
    background-repeat: no-repeat;
    
    font-family: sans-serif;
    
    color: #EBEBEB;

    height: 150vh;
}


#bg{
    height: 100%;
}

/* ================== CONFIGURAÇÕES ================== */

/* ========== CABEÇALHO ========== */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo{
    padding-top: 2vh;
    padding-left: 2vh;
}

#cabeçalho ul{
    display: flex;

}

#cabeçalho ul li a{
    line-height: 24px;
    font-weight: 600;

    padding-right: 2vh;
}

#cabeçalho #botão-try{
    
    background: rgb(13, 158, 237) ;
    color: white;

    margin-right: 2vh;
    padding: 11px;
    
    border-radius: 5px;

    font-size: 13px;
}

/* ======= NAV MOBILE ======= */


#h-mobile{
    display: none;
}

#nav-mobile{
    display: none;
    line-height: 50px;
}

/* ========= MAIN ========= */

main h1{
    text-align: center;

    font-weight: 900;
    font-size:  3em;
    line-height: 3.8125em;
}

main h3{
    margin-bottom: 10px ;
}
/* ======= BUY A LICENSE ============ */

main #container{
    display: flex;
    justify-content:flex-end;

    height: 100vh;
    
}

main #container-form{

    background: rgb(44, 44, 46);

    border: 1px solid rgba(0, 0, 0, 0.205);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.048);

    padding: 32px;
    

    width: 370px;
    height: 350px;
}



main #form-pay h3{
    margin-top: 20px;
}

main #form-pay p{
    font-size: 0.875em;

    margin-left: 10%;
    
    color: #949697;
}

main #anually{
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;

    padding: 15px;
    padding-bottom: 25px;
}

main #anually input{
    margin-top: 10px;
}

main #anually label{
    float: right;

    width: 90%;
    height: 30px;
}


main #form-pay label p{
    
    margin-left: -3px;
    margin-top: 3px;
}

main #once{
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;

    padding: 15px;
    padding-bottom: 25px;

    margin-top: 10px;

}

main #once input{
    margin-top: 10px;
}

main #once label{

    float: right;

    width: 90%;
    height: 30px;

}

main #upgrading{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

main #upgrading #inv{
    display: none;

    border-radius: 5px;
    border-style: solid;
    border-color: rgba(124, 125, 126, 0.123);


    width: 95%;
    height: 35px;

    margin-top: 15px;

    background-color: #373839;

    color: white;
    font-size: 15px;
    font-weight: 400;

    padding-left: 10px;
}



/* ====== QUANTITY AND EMAIL ========= */

main #form-email{


    background-color: #272828;

    border-top: solid 2px #00000041;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin-top: 20px;
    margin-left: -33px;
    margin-right: -33px;
    
    height: 250px;

}

main #quantity-email{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

    width: 100%;
    height: 85px;

    margin-top: 15px;
    margin-left: 30px;

    line-height: 20px;
    font-weight: 700;
}

main #quantity-email #labelQuantity{
    
    height: fit-content;
}

main #quantity-email #e-mail{


    width: 60%;
    
    height: fit-content;
}

main #quantity-email input{

    border-radius: 5px;
    border-style: solid;
    border-color: rgba(124, 125, 126, 0.123);

    height: 35px;

    margin-top: 10px;

    background-color: #373839;
    color: white;
    
    font-size: 15px;
    font-weight: 400;
}

main #quantity-email #quantity{

    width: 50px;
    
    padding-right: 20px;
    padding-left: 10px;
}

main #quantity-email #email{
    width: 55%;

    padding-left: 10px;
}

main #form-email p{
    margin-top: 20px;
    width: 80%;

    line-height: 21.6px;
}

main #form-email p a{
    color: #3983ac;

}

main #form-email button{
    cursor: pointer;

    border: 1px solid #73C333;
    border-radius: 5px;

    color: white;
    background-color: #73C333;

    font-size: 16px;
    font-weight: 700;
    line-height: 42px;

    width: 82%;
    height: 40px;
    
    margin-top: 10px;
    margin-left: 40px;
}




/* ============ Texto da direita =========== */

main #textinho{

    display: flex;
    flex-direction: column;

    width: 48%;
    
    
    padding-left: 4%;
    padding-top: 100px;
    
    line-height: 24px;
    
}

main #textinho img{
    margin-bottom: 10px;
}

main #textinho p{
    color: rgba(255, 255, 255, 0.733);
    margin-top: 10px;

    max-width: 400px;   
}


#textinho #checkout img{
    width: 23px;
}

#textinho #frequente{
    
    margin-top: 40px;
}

#textinho #frequente img{
    width: 30px;
}


@media (max-width: 721px){
    main h1{

        max-width: 80%;
        line-height: 2em;
    }
}

@media (max-width: 639px){

    main h1{
        margin-left: 10%;
    }

    #cabeçalho{
        font-size: 1rem;
    }


    #botão-try{
        display: none;
    }

    #container{
        flex-direction: column;
        
        margin-top: 150px;
    }

    main #form-email{
        height: 300px;
    }

    main #quantity-email{
        height: 150px;

        width: 90%;
        
        
    }

    main #quantity-email #quantity{
        width: 80%;
    }

    main #quantity-email #e-mail{
        margin-top: 10px;
    }
    
    main #quantity-email #email{
        width: 84%;
    }

    main #container-form{
        margin: 0 auto;
        
        width: 80%;

        min-width: 10vh;
    }

    #textinho{
        margin-top: 180px;
    }

    #textinho p{
        width: 200%;
    }
}

@media (max-width: 480px){
    #cabeçalho{
        font-size: 60%;
    }

@media (max-width: 452px){
    #container{
        
        margin-top: 200px;
    }
}


@media (max-width: 375px){
    main h1{
        line-height: 1.5em;
    }

    #container{
        
        margin-top: 300px;
    }
        
}